.element{
    width:100%;
    text-justify: auto;
    display: block;
}

.element > label {
    font-size: 12px;
}

.element > input,select {
    height:20px;
    margin-left: 10px;

}

.element > input[type="number"],select{
    width: 300px;
    height: 25px;
}

.main > button{
    width:25%;
    height:25px;
    background-color: #02b8ea;
    border-color:#02b8ea;
    border-radius: 2px;
    color:white;
    font-weight: bold;
    box-shadow: none;
    margin-left:37.5%;
    display: block;
 
}
.display{
    display: flex;
    justify-content: center;
}
.PPM, .cel, .BMI{
float:left;
margin:20px;
}
.display > .PPM > p, .display > .cel > p, .display > .BMI > p{
text-align: center;
}

#infoBMI, #infoAim, #infoPPM{
font-weight: bold;
color: #02b8ea;
}

.calculate{
    background-color: #fff;
    border: 1px solid #007bff;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    width:100px;
    height:25px;
    color:#007bff;
    font-weight: bold;
}
.navbar > ul > li > .kalkulator {
    border-bottom: 2px solid rgb(159, 136, 136);
    color: rgb(159, 136, 136);
}