.jednorazowe, .pakiet{
    height:max-content;
    width:auto;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    
    padding: auto;
    margin:10px 10px 10px 10px;
    
}
h3{
    margin:auto;
    position: relative;
}

.center{
    text-align: center;
}
button{
    position:relative;
    margin: auto;
    margin-top: 20px;
    margin-left:33%;
    background-color: white;
    border: 1px solid #28a745;
    color: #28a745;
    padding:5px;
    border-radius: 5px;
    margin-bottom:2%;

}
button:hover{
    background-color: #28a745;
    color:white;
}
.blue{
    color:#02b8ea;
    
    font-weight: bold;
}

.main{
    padding-top:20px;
    display: flex;
    justify-content: center;
}

.modal{
    width:650px;
    height: 350px;
    margin:auto;
    background-color: white;
    position: relative;
    top:30%;
    border: 1px solid #02b8ea;
    display:none;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal > .mail> label{
   margin-left: 18%;
   margin-right: 5px;
}

.modal > .mail > input{
    margin-top:100px;
    width:350px;
    height:25px;
   border-radius: 5px;
   border: 1px solid black;
}

.modalButton{
    color:black;
    width:80px;
    position: relative;
    margin: auto;
    margin-left:13%;
}
.closeModal{
    color:black;
    width:80px;
    position: relative;
    margin: auto;
    border: 1px solid red;
    margin-left: 45%;
    margin-top: 100px;
}
.closeModal:hover{
    color:white;
    background-color:red;
    border: 1px solid red;
    margin-left: 45%;
    margin-top: 100px;
}
.modal > p{
    text-align: center;
    color: #02b8ea;
    font-weight: bold;
}


.navbar > ul > li > .edukacja {
    border-bottom: 2px solid rgb(159, 136, 136);
    color: rgb(159, 136, 136);
}


p{
    font-size:1em;
   
}

@media (max-width:1000px) {
    .main{
        display:block
    }
    button{
        margin-left:45%;
        margin-bottom:2%;
    }
    .modal{
        width:auto;
    }
    
    
.mail{
    margin:2% auto;
}
    
}


.modal > .mail >input {
    margin-left:22%;
}